.antlr/
source/antlr/
objects/
*.o

# old stuff
antlr/
code_antlr/
code_visitors/

yottacompilatron9001

sandbox/
*.dSYM

# Eclipse
.metadata/
.project

# valgrind stuff
vgcore*
testValgrind.sh

# General
.DS_Store
.AppleDouble
.LSOverride
bac_a_sable/

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
